<div class="section">
  <div class="container">
    <div class="padding">  

      <table>
        <tr>
          <th>Titel</th>
          <th>Afbeelding</th>
          <th>Periode</th>
          <th>Minor</th>
          <th>Opdracht</th>
          <th>Opgeleverd</th>
        </tr>

        <% @project.each do |p| %>
          <tr>
            <td><%= p.title %></td>
            <td><%= image_tag p.image_url.to_s %></td>
            <td><%= p.time %></td>
            <td><%= p.minor %></td>
            <td><%= p.work %></td>
            <td><%= p.result %></td>
            <td><%= link_to 'Show', project_path(p) %></td>
            <td><%= link_to 'Edit', edit_project_path(p) %></td>
            <td><%= link_to 'Destroy', project_path(p),
                method: :delete,
                data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
      </table>
      <%= link_to 'Nieuw project', new_project_path %>
    </div>
  </div>
</div>